registry=https://nexus.televic.com/repository/npm/
init.author.name = Televic
init.author.email = support@televic.com
init.author.url = http://www.televic.com/
email=support@televic.com
always-auth=true